
// Contact form styles

#contact {
  background-color: $secondary;

  h2 {
    color: $white;
  }

  label {
    color: $white;
  }

  input,
  textarea {
    border-color: $white;
    border-radius: 0;
  }

  input[type="submit"] {
    width: auto;
    padding-right: $spacer * 2;
    padding-left: $spacer * 2;
    background-color: $white;
    color: $secondary;

    &:hover {
      border-color: $white;
    }
  }

  .h3 {
    color: $white;
  }
}

div.wpcf7-response-output {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
  color: $white;
}
