
// Footer styles

#wrapper-footer-full {
  background-color: $white;

  .footer-widget {
    font-weight: $font-weight-light;
    text-align: center;

    h3 {
      margin: 0;
      color: $black;
      font-weight: $font-weight-normal;
    }
  }
}
